<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
  <script src="../static/js/bootstrap-4.4.1.js"></script>

  {% if n == "products" %}
    <script src = "../static/js/script_products.js"></script>
  {% endif %}

  {% if n == "electronics" %}
    <script src = "../static/js/script_ele.js"></script>
  {% endif %}

  {% if n == "jewelery" %}
    <script src = "../static/js/script_jewel.js"></script>
  {% endif %}

  {% if n == "men_clothing" %}
    <script src = "../static/js/script_men.js"></script>
  {% endif %}

  {% if n == "women_clothing" %}
    <script src = "../static/js/script_women.js"></script>
  {% endif %}
	  
	 <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <title>Nozama-{{n}}</title>
    <!-- Bootstrap -->
    <link href = "{{ url_for('static', filename='css/bootstrap-4.4.1.css') }}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Nozama</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/products">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">

                {% if n == "men_clothing" %}
                    Men's clothing
                {% endif %}

                {% if n == "women_clothing" %}
                    Women's clothing
                {% endif %}

                {% if n == "products" or n == "jewelery" or n == "electronics" %} 
                  {{n.capitalize()}}
                {% endif %}
              
                </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/electronics">Electronics</a>
                <a class="dropdown-item" href="/jewelery">Jewellery</a>
                <a class="dropdown-item" href="/men_clothing">Men's clothing</a>
				<a class="dropdown-item" href="/women_clothing">Women's clothing</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id = "search-text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onClick = "getSearch()">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container mt-3">
      <div class="row">
        <div class="col-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleControls" data-slide-to="1"></li>
              <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active" id = "banner">
                <img class="d-block w-100" src="https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2-768x450.jpg" alt="First slide" id = "slide-1">
                <div class="carousel-caption d-none d-md-block">
					
                  <h5 id = "slide-1-heading"></h5>
                  <p>Item 1 Description</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2-768x450.jpg" alt="Second slide" id = "slide-2">
                <div class="carousel-caption d-none d-md-block">
					
                  <h5 id = "slide-2-heading"></h5>
                  <p>Item 2 Description</p>
                </div>
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="https://site.groupe-psa.com/content/uploads/sites/9/2016/12/white-background-2-768x450.jpg" alt="Third slide" id = "slide-3">
                <div class="carousel-caption d-none d-md-block">
					
                  <h5 id = "slide-3-heading"></h5>
                  <p>Item 3 Description</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" id = "navigate"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" id = "navigate-n"></span>
            <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <h2 class="text-center" id = "loading">  </h2>
    <hr>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <img class="card-img-top" src="#" alt="Card image cap" id = "img-1", loading = "lazy">
            <div class="card-body">
              <a href = "#" class = "card-title" id = "title-1">  </a>
              <p class="card-text" id = "price-1"></p>
				<a href="#" class="btn btn-primary" id = "Cart-1">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <img class="card-img-top" src = "#" alt="Card image cap" id = "img-2">
            <div class="card-body">
              <a href = "#" class = "card-title" id = "title-2">  </a>
              <p class="card-text" id = "price-2"></p>
              <a href="#" class="btn btn-primary" id = "Cart-2">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <img class="card-img-top" src = "#" alt="Card image cap" id = "img-3">
            <div class="card-body">
              <a href = "#" class = "card-title" id = "title-3">  </a>
				<p class="card-text" id = "price-3"></p>
              <a href="#" class="btn btn-primary" id = "Cart-3">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <img class="card-img-top" src = "#" alt="Card image cap" id = "img-4">
            <div class="card-body">
              <a href = "#" class = "card-title" id = "title-4">  </a>
				<p class="card-text" id = "price-4"></p>
              <a href="#" class="btn btn-primary" id = "Cart-4">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <img class="card-img-top" src = "#" alt="Card image cap" id = "img-5">
            <div class="card-body">
              <a href = "#" class = "card-title" id = "title-5">  </a>
				<p class="card-text" id = "price-5"></p>
              <a href="#" class="btn btn-primary" id = "Cart-5">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 pb-1 pb-md-0">
          <div class="card">
            <img class="card-img-top" src = "#" alt="Card image cap" id = "img-6">
            <div class="card-body">
              <a href = "#" class = "card-title" id = "title-6">  </a>
				<p class="card-text" id = "price-6"></p>
              <a href="#" class="btn btn-primary" id = "Cart-6">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
  </body>
</html>